.main-content__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 40px; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  color: #000;
  margin-bottom: 50px; }
  .card__img {
    height: 134px;
    width: 160px;
    margin: 30px 0 45px; }
  .card__content {
    padding: 0 14px 15px; }
    .card__content .card__text {
      font-size: 11px;
      font-weight: 400; }
    .card__content .card__label {
      font-size: 12px;
      font-weight: 500;
      margin: 0 0 5px;
      line-height: 15px; }
    .card__content .card__product-code {
      margin-bottom: 15px; }
    .card__content .card__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 20px; }
      .card__content .card__info .card__stars {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 91px;
        height: 15px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .card__content .card__info .card__stars .card__rating-star {
          height: 15px;
          width: 15px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url("../images/star-active.svg"); }
        .card__content .card__info .card__stars .card__rating-star-inactive {
          height: 15px;
          width: 15px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url("../images/star.svg"); }
    .card__content .card__price {
      margin-bottom: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline; }
      .card__content .card__price .card__price-amount {
        font-size: 16px;
        font-weight: bold; }
    .card__content .card__buy-button {
      display: block;
      padding: 11px;
      background-color: #00acdc;
      border: 1px solid transparent;
      border-radius: 5px;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      line-height: 16px; }
      .card__content .card__buy-button:hover {
        border-color: #00acdc;
        color: #00acdc;
        background-color: #fff; }

/*# sourceMappingURL=card.css.map */
